:root {
    --font: "Inter", sans-serif;
    --size-quote: 95px;
    --dark-background: #03001e;
    --yellow: #feac5e;
    --purple: #c779d0;
    --blue: #4bc0c8;
    --white: aliceblue;
    --violet: #9c6cebf3;
    --light-yellow: #fbd485;
    --pink: #ef629f;
    --light-blue: aliceblue;
    --opacity: 60%;
    --card-background: #26243b;
}

body {
    width: 100%;
    background-color: aliceblue;
    margin: -0.1rem 0 0 0;
    padding: 0;
    /* background: linear-gradient(90deg, #feac5e, #c779d0, #4bc0c8); */
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: fit-content;
}

/* animation */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

header.header,
footer {
    width: inherit;
    height: 3rem;
    background-color: var(--dark-background);
    color: var(--white);
    display: flex;
}

.sidebar {
    background-color: var(--dark-background);
}

header.header h3,
footer h3,
.sidebar li a {
    margin: auto;
    align-items: center;
    color: var(--white);
}
